# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# =========================
# Data (NEVER PUSH RAW DATA)
# =========================
data/raw/
data/processed/
data/splits/
*.npy
*.npz
*.parquet

# =========================
# Models & Checkpoints
# =========================
/models/
*.pt
*.pth
*.pkl
*.joblib
*.ckpt

# =========================
# Logs & Experiments
# =========================
logs/
experiments/*
!experiments/experiments.csv
*.log
*.json

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env
.env.*